In [2]:
import my_def_cho as lg
import my_utils_cho as mu
import time

In [3]:
lg.set_api_key('RGAPI-474558e0-2044-46aa-b0b7-ef634af1aa9b')

In [4]:
tier = 'BRONZE'

In [5]:
df = lg.get_rawData(tier)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  2.60it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  3.59it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:03<00:00,  1.06s/it]

In [6]:
all_df = lg.get_dataframe_from_game_data(df)

100%|██████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 3004.52it/s]

complete! the number of df is 3

In [ ]:
# c_sql = 'create table match_stats(gameId varchar(30),gameDuration number(20),gameVersion varchar(40),summonerName varchar(50),summonerLevel number(30), participantId number(5),championName varchar(50),champExperience number(20),teamPosition varchar(50),teamId number(20),win varchar(10),kills number(20),deaths number(20),assists number(20),totalDamageDealtToChampions number(30),totalDamageTaken number(30),g_5 number(20),g_6 number(20),g_7 number(20),g_8 number(20),g_9 number(20),g_10 number(20),g_11 number(20),g_12 number(20),g_13 number(20),g_14 number(20),g_15 number(20),g_16 number(20),g_17 number(20),g_18 number(20),g_19 number(20),g_20 number(20),g_21 number(20),g_22 number(20),g_23 number(20),g_24 number(20),g_25 number(20), constraint m_pk primary key(gameId , participantId))'

In [7]:
mu.db_open_local()

open!

In [ ]:
#mu.sql_execute('drop table match_data_take')

In [ ]:
c_sql="""
create table match_data_take(gameId number(20),participantId number(10),gameDuration number(20),
gameVersion varchar(30),summonerName varchar(30),summonerLevel number(10),championName varchar(20),
champExperience number(20),teamPosition varchar(15),teamId number(10),win varchar(10),kills number(10),
deaths number(10),assists number(10),totalDamageDealtToChampions number(20),totalDamageTaken number(20),
baronKills number(10),teamElderDragonKills number(10),dragonKills number(10),teamRiftHeraldKills number(10),g_5 number(10),g_6 number(10),
g_7 number(10),g_8 number(10),g_9 number(10),g_10 number(10),g_11 number(10),
g_12 number(10),g_13 number(10),g_14 number(10),g_15 number(10),g_16 number(10),g_17 number(10),
g_18 number(10),g_19 number(10),g_20 number(10),g_21 number(10),g_22 number(10),g_23 number(10),
g_24 number(10),g_25 number(10))
"""

In [8]:
count = 0
for i in range(200):
    df = lg.get_rawData(tier)
    all_df = lg.get_dataframe_from_game_data(df)
    
    mu.db_open_local()
    mu.insert_into_match_data(all_df)
    mu.db_close()
    
    print(count)
    count += 1
    time.sleep(30)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  2.79it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  3.55it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:03<00:00,  1.04s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 2999.50it/s]

complete! the number of df is 3
open!

1it [00:00, ?it/s]

0

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  2.83it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  3.49it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:03<00:00,  1.07s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 1501.00it/s]

complete! the number of df is 3
open!

1it [00:00, 1000.31it/s]

1

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  2.64it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  3.67it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.07it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 3000.93it/s]

complete! the number of df is 3
open!

100%|██████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 63.80it/s]

2

KeyboardInterrupt: